@import "tailwindcss";

@theme {
  /* Paleta de la marca IPE ROXO */
  --color-brand-blue: #0D86DA;
  --color-brand-green: #199B49;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
  
  /* Tipografía Zain */
  --font-zain: var(--font-zain), sans-serif;
}

/* Opcional: Para mantener el scroll suave al clickear en el menú */
html {
  scroll-behavior: smooth;
}